
.input-bar-container {
  background-color: #EFEFF4;
  padding: 9px 8px 9px 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
