.un-read-tag-container {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #FF4949;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
