
.routine-list {
  box-sizing: border-box;
  padding-bottom: 50px;
  .indicator-container {
    display: flex;
    justify-content: center;
    .activity-indicator {
    }
  }
  .routine-list-element {
    padding-top: 50px;
    &:first-child {
      padding-top: 70px;
    }
  }
}




