.message-list-container {
  padding: 24px 9px;



  .message-item-wrapper {
    margin-top: 56px;

    .date {
      color: #999999;
      font-size: 24px;
      text-align: center;
      margin: 8px 0;
    }
  }
}
