.tag-bar-wrapper {

  .tag-bar-container {
    display: flex;
    flex-direction: row;

    .category-tag-wrapper {
      flex-grow: 1;
      text-align: center;
      border-top: 1px solid #d6e4ef;
      border-bottom: 1px solid #d6e4ef;
      border-right: 1px solid #d6e4ef;
      background-color: #FFF;
      transition: 0.3s background-color;

      &:first-child {
        border-left: 1px solid #d6e4ef;
      }

      &:active {
        background-color: #F0F0F0;
      }
    }
  }

  .search-bar {
    transition: height 0.3s;

    &-hidden {
      width: 0;
      height: 0;
    }
  }


}
