.category-tab-container {
  display: inline;
  font-size: .68267rem;
  line-height: 1.5;
  color: #333;
  width: auto;
  background-color: white;
  border-top: 1px solid #d6e4ef;
  border-bottom: 1px solid #d6e4ef;


  .text {
    margin-right: 8px;
  }
}
