.routine-block-index {
  display: flex;
  flex-direction: column;
  color: #333333;
}

.view-container {
  background-color: white;
  padding: 30px 15px 30px 30px;
  border: 1px #E4E4E4 solid;
  /*box-shadow: #E4E4E4 0 0 20px;*/
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin: 0 auto;
}

.view-container:active {
  background-color: rgba(0, 0, 0, .1);
  transition: 0.3s ease-out;
}

.routine-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 35px;
  width: 60vw;
  margin-left: 30px;
}

.end {
  font-size: 20px;
  color: red;
  text-align: right;
  margin-right: 40px;
  flex: 1;
}

.content {
  color: #AEAEAE;
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.org-name {
  color: #AEAEAE;
  font-size: 25px;
  text-align: right;
}

.extra-info {
  display: flex;
  margin-top: 8px;
  font-size: 25px;
  align-items: flex-end;
}

.attachment {
  display: flex;
  color: #29A1F7;
  width: 55%;
  justify-content: start;
  flex-wrap: wrap;
}

.text {
  padding: 0 5px 5px 5px;
}

.date-read {
  flex: 1;
  display: flex;
  color: #AEAEAE;
  justify-content: space-between;
}




